
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    list-style: none;

    
}
.container{
    width: 100%;
}
.navbar{
    
    min-width: 300px;
    width: 100%;
    display: flex;
    border: 2px solid black;
    justify-content: space-evenly;
    margin: auto;
    height: 6rem;
    padding-top: 2.5rem;
}
.list1{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    max-width: 1200px;
}

